.Bar {
	background:black repeat-x;
	background-position:top;
	padding:5px;
	position:fixed;
	
	width:960px;
	left:0;
	right:0;
	top:0;
	color:#FFF;
	border-bottom:3px solid #FFF;
	-moz-opacity:0.5;
opacity: 0.5;
filter:alpha(opacity=50);
}

.text {
	color:white;
	padding:7px 0;
	font-weight:900;
	text-align:center;
}

header p{
	margin : 0px;
	padding : 0px;
}

body{
	margin-top:35px;
}

.form{
	float:right;
}
#mail{
	width:150px;
}
#mdp{
	width:150px;
}

.pied
{
	text-align:center;
	margin-top:300px;
	height : 40px;
	width : 800px;
	border: 1px solid black;
	border-radius:5px;
}

#volSupprime
{
	text-align:center;
	margin-top:20px;
	width : 400px;
	border: 1px solid black;
	border-radius:25px;
	background-color: #d6d6d6;
}

th
{
	background-color: #d6d6d6;
	text-align: center;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 2px;
	padding-bottom: 2px;
	height : 40px;
	width : 160px;
	border: 1px solid black;
}


td
{
	background-color: #e5e5e5;
	text-align: center;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 2px;
	padding-bottom: 2px;
	height : 40px;
	width : 160px;
	border: 1px solid black;
}

#tableauTitreVol
{
	border-collapse: collapse;
	margin-bottom: -1px;
}
#tableauInfoVol
{
	border-collapse: collapse;
}

#tableauCaseACocherVol
{
	float:left;
	border-collapse: collapse;
	margin-right: -1px;
}

.boutonEnvoyer
{
	background: white;
	border:none;
}

#envoyer
{
	height : 40px;
	width : 160px;
	font-size: 18px;
	border-radius:15px;
	background-color:#01F601;
}


